/* Base Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0b0b0b;
}

img {
  max-width: 100%;
}

/* Header */
header h1 {
  font-family: 'Playball', cursive;
  font-size: 75px;
  color: #b8428f;
}

header nav ul li {
  display: inline-block;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #b8428f;
}

header nav ul li a:hover {
  color: #ddcd9d;
}

/* Note */
#note {
  padding: 20px 0;
}

#note h2 {
  font-size: 55px;
}

#note h2 span {
  font-family: "Playball", cursive;
  color: #b8428f;
}

#note p {
  font-size: 20px;
  line-height: 32px;
}

.signature {
  padding: 15px 0;
}

.signature p {
  font-size: 20px;
}

.signature h3 {
  font-family: "Playball", cursive;
  font-size: 45px;
}

/* Highlights */
#highlights h2 {
  font-size: 55px;
}

#highlights p {
  font-size: 20px;
  line-height: 32px;
}

/* footer */
footer {
  width: 100%;
  float: left;
}

footer p {
  font-size: 16px;
  width: 50%;
}

footer nav ul li{
  display: inline-block;
  list-style: none;
}

footer nav ul li a {
  text-decoration: none;
  padding-left: 20px;
  color: #b8428f;
}

footer nav ul li a:hover {
  color: #d77fd5;
}
