/* Base Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0b0b0b;
}

img {
  max-width: 100%;
}

/* Header */
header {
  background-color: #ddcd9d;
  padding: 20px;
}

header h1 {
  font-family: 'Playball', cursive;
  font-size: 75px;
  color: #b8428f;
}

header nav ul li {
  display: inline-block;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #b8428f;
}

header nav ul li a:hover {
  color: #d77fd5;
}

/* Note */
#note {
  padding: 20px 0;
  height: 600px;
}

#note h2 {
  font-size: 55px;
}

#note h2 span {
  font-family: "Playball", cursive;
  color: #b8428f;
}

#note p {
  font-size: 20px;
  line-height: 32px;
}

.signature {
  padding: 15px 0;
}

.signature p {
  font-size: 20px;
}

.signature h3 {
  font-family: "Playball", cursive;
  font-size: 45px;
}

/* Highlights */
#highlights {
  height: 600px;
}

#highlights h2 {
  font-size: 55px;
  padding-bottom: 25px;
}

#highlights h3 {
  font-size: 45px;
  font-family: 'Playball', cursive;
}

#highhlights h4 {
  font-size: 35px;
}

#highlights img {
  padding: 40px 0;
}

/* footer */
footer {
  width: 100%;
  float: left;
  background-color: #ddcd9d;
}

footer p {
  font-size: 16px;
  width: 50%;
  padding: 10px 0;
}

footer nav ul li{
  display: inline-block;
  list-style: none;
  padding: 10px 0;
}

footer nav ul li a {
  text-decoration: none;
  padding-left: 20px;
  color: #b8428f;
}

footer nav ul li a:hover {
  color: #d77fd5;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  #note {
    height: 100%;
  }

  #highlights {
    height: 100%;
  }

  #highlights .post {
    width: 100%;
    padding: 15px 0px;
  }

  #highlights img {
    padding-bottom: 25px;
  }

  footer {
    border: 2px solid red;
    height: 25%;
  }
}
